.maincont{
    width: 85%;
    margin: auto;
}
.insidemain{
    margin-top: 10px;
    border: 1px solid #d9d9d9;
}
.headdiv{
    margin-top: 20px;
    padding: 50px;
    text-align: center;
}
.bottombox{
    align-items: center;
    text-align: center;
}
.inputdiv{
    width: 50%;
}
.inputbtn{
   display: flex;
   justify-content: center;
}
.leftip{
    width: 100%;
    padding: 10px;
}
 
.btnip{
    display: flex;
    font-size: 22px;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    background-color: #ff0088;
    color: white;
    height: 48px;
    font-weight: 500;
    width: auto;
    align-items: center;
    text-align: center;
}
.terms{
    text-align: center;
    margin: 10px auto 100px auto;

}
@media(max-width:550px){
    .btnip{
        margin-left: 0px;
    }
}