.maincont {
    width: 85%;
    margin: auto;
}

.insidemain {
    margin-top: 10px;
    border: 1px solid #d9d9d9;
}

.headdiv {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.bottombox {
    align-items: center;
    text-align: center;
}
.stickpostion{
    position: sticky;
    top: 0;
}
.inputdiv {
    width: 50%;
}

.inputbtn {
    display: flex;
    justify-content: center;
}

.leftip {
    width: 100%;
    padding: 10px;
}

.btnip {
    display: flex;
    font-size: 22px;
    border: none;
    cursor: pointer;
    margin-left: 4px;
    background-color: #ff0088;
    color: white;
    height: 48px;
    font-weight: 500;
    width: auto;
    align-items: center;
    text-align: center;
}

.terms {
    text-align: center;
    margin: 10px auto 50px auto;

}

.framediv {
    display: flex;
    width: 80%;
    margin: auto auto 30px auto;
}

.leftframe {
    width: 30%;
}

.rightframe {
    width: 70%;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    height: 80vh;

}

.righttable {
    margin-left: 10px;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
}

.tabledata {
    display: flex;
    justify-content: center;
    border: none;
    text-align: center;
    cursor: pointer;
    margin: auto;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 2px;
    color: white;

}

@media(max-width:900px) {
    .framediv {
        width: 93%;
    }
}

@media(max-width:730px) {
    .maincont {
        width: 95%;
    }
}

@media(max-width:650px) {
    .framediv {
        width: 97%;
    }

    .leftframe {
        margin: 3px;
        width: 40%;
    }

    .rightframe {
        margin: 3px;
        width: 60%;
    }

    .righttable {
        margin-left: 0px;
    }
    td{
    padding: 4px;        
    }
    th{
    padding: 4px;        
    }
}

@media(max-width:550px) {
    .btnip {
        margin-left: 0px;
    }
}

@media(max-width:530px) {
    .framediv {
        display: block;
    }

    .leftframe {
        margin: auto;
        width: 70%;
    }

    .rightframe {
        width: 90%;
        margin: 30px auto auto auto;
    }
}
@media(max-width:350px){
    .rightframe{
        width: 100%;
    }
    .maincont{
        width: 100%;
    }
}
@media(max-width:300px){
    .leftframe{
        width: 90%;
    }
}